<h1>Seasons</h1>

<% @seasons.each do |season| %>
<div class="row">
  <div class="span5 offset4">
    <%= link_to season.year, season %>
  </div>
</div>

<% end %>

<div class="row">
  <div class="span5 offset4">
    <%= link_to "New Season", new_season_path, :class => 'btn' %>
  </div>
</div>


