<h1>About</h1>
<p>Application to assist track coaches create meet lineups, track individual runner's performances, and make it easier to keep track of the meet's scoring.</p>
<%= link_to "Home", seasons_path, :class => 'btn' %>
