<div class="row">
  <div class="span6 offset5">
    <h1>Hi Jay, Welcome to Your Site</h1>
  </div>
</div>
<div class="row">
  <div class="span6 offset5">
    <%= link_to "Begin", coach_seasons_path(1) ,:class => 'btn' %>
  </div>
</div>
